<body>
  <header>
    <div class="container">
      <div class="row">
        <div class="col col-md-8 col-sm-10">
          <h1><span>CNN</span>.com - RSS Channel - App International Edition</h1>
        </div>
      </div>
    </div>
  </header>
  
    <div class="container">
      <div class="row">
        <div class="col col-md-8 col-sm-10 card-info">
          <!-- <div class="shadow"></div> -->
          <img src="{{articles[0].enclosure.link}}" alt="image" class="img-fluid">
          <p class="image-title">{{articles[0].title}}</p>
          <p class="image-date">{{articles[0].pubDate}}</p>
  
        </div>
        <div class="col col-md-4 col-sm-6 card-info">
  
          <img src="{{articles[1].enclosure.link}}" alt="image" class="img-fluid">
          <p class="image-title">{{articles[1].title}}</p>
          <p class="image-date">{{articles[1].pubDate}}</p>
  
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4 col-sm-6 card-info">
  
          <img src="{{articles[2].enclosure.link}}" alt="image" class="img-fluid">
          <p class="image-title">{{articles[2].title}}</p>
          <p class="image-date">{{articles[2].pubDate}}</p>
  
        </div>
        <div class="col col-md-4 col-sm-6 card-info">
  
          <img src="{{articles[3].enclosure.link}}" alt="image" class="img-fluid">
          <p class="image-title">{{articles[3].title}}</p>
          <p class="image-date">{{articles[3].pubDate}}</p>
  
        </div>
        <div class="col col-md-4 col-sm-6 card-info">
  
            <img src="{{articles[4].enclosure.link}}" alt="image" class="img-fluid">
            <p class="image-title">{{articles[4].title}}</p>
            <p class="image-date">{{articles[4].pubDate}}</p>
  
          </div>
      </div>
      <div class="row">
        <div class="col col-md-4 col-sm-6 card-info">
  
          <img src="{{articles[5].enclosure.link}}" alt="image" class="img-fluid">
          <p class="image-title">{{articles[5].title}}</p>
          <p class="image-date">{{articles[5].pubDate}}</p>
  
        </div>
        <div class="col col-md-8 col-sm-10 card-info">
  
          <img src="{{articles[6].enclosure.link}}" alt="image" class="img-fluid">
          <p class="image-title">{{articles[6].title}}</p>
          <p class="image-date">{{articles[6].pubDate}}</p>
  
        </div>
      </div>
      <div class="row justify-content-md-center">
  
        <div class="col col-md-2 text-center view-more">
          <button (click)="viewMore()" type="button" class="btn btn-secondary btn-sm">VIEW MORE</button>
        </div>

      </div>
      <div class="row" id="hidden-row">
        <div class="col col-md-4 col-sm-6 card-info">
  
          <img src="{{articles[7].enclosure.link}}" alt="image" class="img-fluid">
          <p class="image-title">{{articles[7].title}}</p>
          <p class="image-date">{{articles[7].pubDate}}</p>
  
        </div>
        <div class="col col-md-4 col-sm-6 card-info">
  
          <img src="{{articles[8].enclosure.link}}" alt="image" class="img-fluid">
          <p class="image-title">{{articles[8].title}}</p>
          <p class="image-date">{{articles[8].pubDate}}</p>
  
        </div>
        <div class="col col-md-4 col-sm-6 card-info">
  
            <img src="{{articles[9].enclosure.link}}" alt="image" class="img-fluid">
            <p class="image-title">{{articles[9].title}}</p>
            <p class="image-date">{{articles[9].pubDate}}</p>
  
        </div>
      </div>
    </div>
</body>

